# Dependencies
node_modules/
.env

# Build artifacts
dist/

# Logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Foundry
contracts/out/
contracts/cache/
contracts/broadcast/

# TypeScript
*.tsbuildinfo
